@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-sun:before { content: "\f100"; }
.flaticon-002-cloud:before { content: "\f101"; }
.flaticon-003-cloudy:before { content: "\f102"; }
.flaticon-004-rain:before { content: "\f103"; }
.flaticon-005-rainy:before { content: "\f104"; }
.flaticon-006-crescent-moon:before { content: "\f105"; }
.flaticon-007-half-moon:before { content: "\f106"; }
.flaticon-008-hail:before { content: "\f107"; }
.flaticon-009-snowy:before { content: "\f108"; }
.flaticon-010-thunderstorm:before { content: "\f109"; }
.flaticon-011-full-moon:before { content: "\f10a"; }
.flaticon-012-lightning:before { content: "\f10b"; }
.flaticon-013-eclipse:before { content: "\f10c"; }
.flaticon-014-rainbow:before { content: "\f10d"; }
.flaticon-015-windy:before { content: "\f10e"; }
.flaticon-016-temperature:before { content: "\f10f"; }
.flaticon-017-heat:before { content: "\f110"; }
.flaticon-018-cold:before { content: "\f111"; }
.flaticon-019-cool:before { content: "\f112"; }
.flaticon-020-cool:before { content: "\f113"; }
.flaticon-021-weather-app:before { content: "\f114"; }
.flaticon-022-sunrise:before { content: "\f115"; }
.flaticon-023-fahrenheit:before { content: "\f116"; }
.flaticon-024-celsius:before { content: "\f117"; }
.flaticon-025-sunset:before { content: "\f118"; }
.flaticon-026-umbrella:before { content: "\f119"; }
.flaticon-027-calendar:before { content: "\f11a"; }
.flaticon-028-drop:before { content: "\f11b"; }
.flaticon-029-compass:before { content: "\f11c"; }
.flaticon-030-haze:before { content: "\f11d"; }
.flaticon-031-desert:before { content: "\f11e"; }
.flaticon-032-windsock:before { content: "\f11f"; }
.flaticon-033-barometer:before { content: "\f120"; }
.flaticon-034-pressure:before { content: "\f121"; }
.flaticon-035-humidity:before { content: "\f122"; }
.flaticon-036-hurricane:before { content: "\f123"; }
.flaticon-037-rain:before { content: "\f124"; }
.flaticon-038-thunderstorm:before { content: "\f125"; }
.flaticon-039-cloudy-night:before { content: "\f126"; }
.flaticon-040-meteorology:before { content: "\f127"; }
.flaticon-041-placeholder:before { content: "\f128"; }
.flaticon-042-autumn:before { content: "\f129"; }
.flaticon-043-winter:before { content: "\f12a"; }
.flaticon-044-cyclone:before { content: "\f12b"; }
.flaticon-045-snowflake:before { content: "\f12c"; }
.flaticon-046-meteor:before { content: "\f12d"; }
.flaticon-047-umbrella:before { content: "\f12e"; }
.flaticon-048-rain:before { content: "\f12f"; }
.flaticon-049-icicle:before { content: "\f130"; }
.flaticon-050-smartwatch:before { content: "\f131"; }

$font-Flaticon-001-sun: "\f100";
$font-Flaticon-002-cloud: "\f101";
$font-Flaticon-003-cloudy: "\f102";
$font-Flaticon-004-rain: "\f103";
$font-Flaticon-005-rainy: "\f104";
$font-Flaticon-006-crescent-moon: "\f105";
$font-Flaticon-007-half-moon: "\f106";
$font-Flaticon-008-hail: "\f107";
$font-Flaticon-009-snowy: "\f108";
$font-Flaticon-010-thunderstorm: "\f109";
$font-Flaticon-011-full-moon: "\f10a";
$font-Flaticon-012-lightning: "\f10b";
$font-Flaticon-013-eclipse: "\f10c";
$font-Flaticon-014-rainbow: "\f10d";
$font-Flaticon-015-windy: "\f10e";
$font-Flaticon-016-temperature: "\f10f";
$font-Flaticon-017-heat: "\f110";
$font-Flaticon-018-cold: "\f111";
$font-Flaticon-019-cool: "\f112";
$font-Flaticon-020-cool: "\f113";
$font-Flaticon-021-weather-app: "\f114";
$font-Flaticon-022-sunrise: "\f115";
$font-Flaticon-023-fahrenheit: "\f116";
$font-Flaticon-024-celsius: "\f117";
$font-Flaticon-025-sunset: "\f118";
$font-Flaticon-026-umbrella: "\f119";
$font-Flaticon-027-calendar: "\f11a";
$font-Flaticon-028-drop: "\f11b";
$font-Flaticon-029-compass: "\f11c";
$font-Flaticon-030-haze: "\f11d";
$font-Flaticon-031-desert: "\f11e";
$font-Flaticon-032-windsock: "\f11f";
$font-Flaticon-033-barometer: "\f120";
$font-Flaticon-034-pressure: "\f121";
$font-Flaticon-035-humidity: "\f122";
$font-Flaticon-036-hurricane: "\f123";
$font-Flaticon-037-rain: "\f124";
$font-Flaticon-038-thunderstorm: "\f125";
$font-Flaticon-039-cloudy-night: "\f126";
$font-Flaticon-040-meteorology: "\f127";
$font-Flaticon-041-placeholder: "\f128";
$font-Flaticon-042-autumn: "\f129";
$font-Flaticon-043-winter: "\f12a";
$font-Flaticon-044-cyclone: "\f12b";
$font-Flaticon-045-snowflake: "\f12c";
$font-Flaticon-046-meteor: "\f12d";
$font-Flaticon-047-umbrella: "\f12e";
$font-Flaticon-048-rain: "\f12f";
$font-Flaticon-049-icicle: "\f130";
$font-Flaticon-050-smartwatch: "\f131";